In [1]:
from scipy import stats
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from math import log
%matplotlib inline

In [2]:
df = pd.read_csv('./data/2013-14_Absences.txt', sep='\t')
df

,QueryDate,District,AcademicYear,School,ID,Day,Date,Period,Code,CN,Class,CALPADS
0,02/05/2018,SMJUHSD,2013-2014,16,30610777797,21,09/09/2013,2,E,EN1012,English 1B (P),2130.0
1,02/05/2018,SMJUHSD,2013-2014,16,30610777797,21,09/09/2013,3,E,MA7549,2Year Algebra B,2428.0
2,02/05/2018,SMJUHSD,2013-2014,16,30610777797,21,09/09/2013,4,E,AG6261,Integrated Agri Biology B (P)@,4073.0
3,02/05/2018,SMJUHSD,2013-2014,16,30610777797,21,09/09/2013,5,E,EC7630,Study Skills,3020.0
4,02/05/2018,SMJUHSD,2013-2014,16,30610777797,21,09/09/2013,6,E,SS2031,Modern World History B (P),2711.0
5,02/05/2018,SMJUHSD,2013-2014,16,30610777797,21,09/09/2013,7,NaN,NaN,NaN,NaN
6,02/05/2018,SMJUHSD,2013-2014,16,30610777797,21,09/09/2013,8,NaN,NaN,NaN,NaN
7,02/05/2018,SMJUHSD,2013-2014,16,30610777797,21,09/09/2013,9,NaN,NA9907,Advisement,6012.0
8,02/05/2018,SMJUHSD,2013-2014,16,30610777797,23,09/11/2013,0,E,PE2002,PE Course2B,2515.0
9,02/05/2018,SMJUHSD,2013-2014,16,30610777797,23,09/11/2013,1,E,EN1011,English 1A (P),2130.0
10,02/05/2018,SMJUHSD,2013-2014,16,30610777797,23,09/11/2013,2,NaN,EN1012,English 1B (P),2130.0
11,02/05/2018,SMJUHSD,2013-2014,16,30610777797,23,09/11/2013,3,E,MA7549,2Year Algebra B,2428.0
12,02/05/2018,SMJUHSD,2013-2014,16,30610777797,23,09/11/2013,4,E,AG6261,Integrated Agri Biology B (P)@,4073.0
13,02/05/2018,SMJUHSD,2013-2014,16,30610777797,23,09/11/2013,5,E,EC7630,Study Skills,3020.0
14,02/05/2018,SMJUHSD,2013-2014,16,30610777797,23,09/11/2013,6,E,SS2031,Modern World History B (P),2711.0
15,02/05/2018,SMJUHSD,2013-2014,16,30610777797,23,09/11/2013,7,NaN,NaN,NaN,NaN
16,02/05/2018,SMJUHSD,2013-2014,16,30610777797,23,09/11/2013,8,NaN,NaN,NaN,NaN
17,02/05/2018,SMJUHSD,2013-2014,16,30610777797,23,09/11/2013,9,NaN,NA9907,Advisement,6012.0
18,02/05/2018,SMJUHSD,2013-2014,16,30610777797,24,09/12/2013,0,E,PE2002,PE Course2B,2515.0
19,02/05/2018,SMJUHSD,2013-2014,16,30610777797,24,09/12/2013,1,E,EN1011,English 1A (P),2130.0
20,02/05/2018,SMJUHSD,2013-2014,16,30610777797,24,09/12/2013,2,E,EN1012,English 1B (P),2130.0
21,02/05/2018,SMJUHSD,2013-2014,16,30610777797,24,09/12/2013,3,E,MA7549,2Year Algebra B,2428.0
22,02/05/2018,SMJUHSD,2013-2014,16,30610777797,24,09/12/2013,4,E,AG6261,Integrated Agri Biology B (P)@,4073.0
23,02/05/2018,SMJUHSD,2013-2014,16,30610777797,24,09/12/2013,5,E,EC7630,Study Skills,3020.0
24,02/05/2018,SMJUHSD,2013-2014,16,30610777797,24,09/12/2013,6,E,SS2031,Modern World History B (P),2711.0
25,02/05/2018,SMJUHSD,2013-2014,16,30610777797,24,09/12/2013,7,,NaN,NaN,NaN
26,02/05/2018,SMJUHSD,2013-2014,16,30610777797,24,09/12/2013,8,,NaN,NaN,NaN
27,02/05/2018,SMJUHSD,2013-2014,16,30610777797,24,09/12/2013,9,,NA9907,Advisement,6012.0
28,02/05/2018,SMJUHSD,2013-2014,16,30610777797,25,09/13/2013,0,,PE2002,PE Course2B,2515.0
29,02/05/2018,SMJUHSD,2013-2014,16,30610777797,25,09/13/2013,1,,EN1011,English 1A (P),2130.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3314710,02/05/2018,SMJUHSD,2013-2014,16,21989174995,179,04/17/2014,0,NaN,NaN,NaN,NaN
3314711,02/05/2018,SMJUHSD,2013-2014,16,21989174995,179,04/17/2014,1,NaN,VP6448,Photography 1B @,2805.0
3314712,02/05/2018,SMJUHSD,2013-2014,16,21989174995,179,04/17/2014,2,NaN,SC1042,General Science B (P),2611.0
3314713,02/05/2018,SMJUHSD,2013-2014,16,21989174995,179,04/17/2014,3,NaN,PE1033,PE Course 1B,2514.0
3314714,02/05/2018,SMJUHSD,2013-2014,16,21989174995,179,04/17/2014,4,C,IL6161,Spanish 1B (P),2206.0
3314715,02/05/2018,SMJUHSD,2013-2014,16,21989174995,179,04/17/2014,5,NaN,EN1011,English 1A (P),2130.0
3314716,02/05/2018,SMJUHSD,2013-2014,16,21989174995,179,04/17/2014,6,NaN,MA6061,Algebra 1B (P),2403.0
3314717,02/05/2018,SMJUHSD,2013-2014,16,21989174995,179,04/17/2014,7,NaN,NaN,NaN,NaN
3314718,02/05/2018,SMJUHSD,2013-2014,16,21989174995,179,04/17/2014,8,NaN,NaN,NaN,NaN
3314719,02/05/2018,SMJUHSD,2013-2014,16,21989174995,179,04/17/2014,9,NaN,NaN,NaN,NaN
3314720,02/05/2018,SMJUHSD,2013-2014,16,21989174995,210,05/30/2014,0,NaN,NaN,NaN,NaN
3314721,02/05/2018,SMJUHSD,2013-2014,16,21989174995,210,05/30/2014,1,T,VP6448,Photography 1B @,2805.0
3314722,02/05/2018,SMJUHSD,2013-2014,16,21989174995,210,05/30/2014,2,NaN,SC1042,General Science B (P),2611.0
3314723,02/05/2018,SMJUHSD,2013-2014,16,21989174995,210,05/30/2014,3,NaN,PE1033,PE Course 1B,2514.0
3314724,02/05/2018,SMJUHSD,2013-2014,16,21989174995,210,05/30/2014,4,NaN,IL6161,Spanish 1B (P),2206.0
3314725,02/05/2018,SMJUHSD,2013-2014,16,21989174995,210,05/30/2014,5,NaN,EN1011,English 1A (P),2130.0
3314726,02/05/2018,SMJUHSD,2013-2014,16,21989174995,210,05/30/2014,6,NaN,MA6061,Algebra 1B (P),2403.0
3314727,02/05/2018,SMJUHSD,2013-2014,16,21989174995,210,05/30/2014,7,NaN,NaN,NaN,NaN
3314728,02/05/2018,SMJUHSD,2013-2014,16,21989174995,210,05/30/2014,8,NaN,NaN,NaN,NaN
3314729,02/05/2018,SMJUHSD,2013-2014,16,21989174995,210,05/30/2014,9,NaN,NaN,NaN,NaN
3314730,02/05/2018,SMJUHSD,2013-2014,16,21989174995,211,06/02/2014,0,NaN,NaN,NaN,NaN
3314731,02/05/2018,SMJUHSD,2013-2014,16,21989174995,211,06/02/2014,1,T,VP6448,Photography 1B @,2805.0
3314732,02/05/2018,SMJUHSD,2013-2014,16,21989174995,211,06/02/2014,2,NaN,SC1042,General Science B (P),2611.0
3314733,02/05/2018,SMJUHSD,2013-2014,16,21989174995,211,06/02/2014,3,NaN,PE1033,PE Course 1B,2514.0
3314734,02/05/2018,SMJUHSD,2013-2014,16,21989174995,211,06/02/2014,4,NaN,IL6161,Spanish 1B (P),2206.0
3314735,02/05/2018,SMJUHSD,2013-2014,16,21989174995,211,06/02/2014,5,NaN,EN1011,English 1A (P),2130.0
3314736,02/05/2018,SMJUHSD,2013-2014,16,21989174995,211,06/02/2014,6,NaN,MA6061,Algebra 1B (P),2403.0
3314737,02/05/2018,SMJUHSD,2013-2014,16,21989174995,211,06/02/2014,7,NaN,NaN,NaN,NaN
3314738,02/05/2018,SMJUHSD,2013-2014,16,21989174995,211,06/02/2014,8,NaN,NaN,NaN,NaN
3314739,02/05/2018,SMJUHSD,2013-2014,16,21989174995,211,06/02/2014,9,NaN,NaN,NaN,NaN