In [1]:
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from math import log
%matplotlib inline

In [2]:
df = pd.read_csv('./data/2014-15_Enrollments.txt', sep=',', low_memory = False)
df

     QueryDate,"District","AcademicYear","ID","School","School_Entry","School_Exit","Exit_Reason_Code"
0     02/08/2018,"SMJUHSD","2014-2015","10038304673"...
1     02/08/2018,"SMJUHSD","2014-2015","10059222833"...
2     02/08/2018,"SMJUHSD","2014-2015","10079950813"...
3     02/08/2018,"SMJUHSD","2014-2015","10081046603"...
4     02/08/2018,"SMJUHSD","2014-2015","10091038153"...
5     02/08/2018,"SMJUHSD","2014-2015","10091315003"...
6     02/08/2018,"SMJUHSD","2014-2015","10091402913"...
7     02/08/2018,"SMJUHSD","2014-2015","10093315183"...
8     02/08/2018,"SMJUHSD","2014-2015","10153218983"...
9     02/08/2018,"SMJUHSD","2014-2015","10153402603"...
10    02/08/2018,"SMJUHSD","2014-2015","10153402603"...
11    02/08/2018,"SMJUHSD","2014-2015","10153402603"...
12    02/08/2018,"SMJUHSD","2014-2015","10153434493"...
13    02/08/2018,"SMJUHSD","2014-2015","10153541193"...
14    02/08/2018,"SMJUHSD","2014-2015","10153544123"...
15    02/08/2018,"SMJUHSD","2014-2015","10153544123"...
16    02/08/2018,"SMJUHSD","2014-2015","10153559073"...
17    02/08/2018,"SMJUHSD","2014-2015","10153566473"...
18    02/08/2018,"SMJUHSD","2014-2015","10153585943"...
19    02/08/2018,"SMJUHSD","2014-2015","10153590643"...
20    02/08/2018,"SMJUHSD","2014-2015","10153601213"...
21    02/08/2018,"SMJUHSD","2014-2015","10153611753"...
22    02/08/2018,"SMJUHSD","2014-2015","10153614543"...
23    02/08/2018,"SMJUHSD","2014-2015","10153615263"...
24    02/08/2018,"SMJUHSD","2014-2015","10153625583"...
25    02/08/2018,"SMJUHSD","2014-2015","10153652963"...
26    02/08/2018,"SMJUHSD","2014-2015","10153662093"...
27    02/08/2018,"SMJUHSD","2014-2015","10153663573"...
28    02/08/2018,"SMJUHSD","2014-2015","10153664833"...
29    02/08/2018,"SMJUHSD","2014-2015","10153679393"...
...                                                 ...
8462  02/08/2018,"SMJUHSD","2014-2015","93461192217"...
8463  02/08/2018,"SMJUHSD","2014-2015","93461192217"...
8464  02/08/2018,"SMJUHSD","2014-2015","93530722164"...
8465  02/08/2018,"SMJUHSD","2014-2015","93813482957"...
8466  02/08/2018,"SMJUHSD","2014-2015","93971256728"...
8467  02/08/2018,"SMJUHSD","2014-2015","95121490160"...
8468  02/08/2018,"SMJUHSD","2014-2015","95210479488"...
8469  02/08/2018,"SMJUHSD","2014-2015","95210479488"...
8470  02/08/2018,"SMJUHSD","2014-2015","95317520770"...
8471  02/08/2018,"SMJUHSD","2014-2015","95372619017"...
8472  02/08/2018,"SMJUHSD","2014-2015","95753468276"...
8473  02/08/2018,"SMJUHSD","2014-2015","95816056491"...
8474  02/08/2018,"SMJUHSD","2014-2015","95934029830"...
8475  02/08/2018,"SMJUHSD","2014-2015","96020877264"...
8476  02/08/2018,"SMJUHSD","2014-2015","96152373565"...
8477  02/08/2018,"SMJUHSD","2014-2015","96454438544"...
8478  02/08/2018,"SMJUHSD","2014-2015","96474327793"...
8479  02/08/2018,"SMJUHSD","2014-2015","96802157646"...
8480  02/08/2018,"SMJUHSD","2014-2015","97221383848"...
8481  02/08/2018,"SMJUHSD","2014-2015","97238714354"...
8482  02/08/2018,"SMJUHSD","2014-2015","97238714354"...
8483  02/08/2018,"SMJUHSD","2014-2015","97280280546"...
8484  02/08/2018,"SMJUHSD","2014-2015","97375471544"...
8485  02/08/2018,"SMJUHSD","2014-2015","97375471544"...
8486  02/08/2018,"SMJUHSD","2014-2015","97653946698"...
8487  02/08/2018,"SMJUHSD","2014-2015","99367468327"...
8488  02/08/2018,"SMJUHSD","2014-2015","99371725980"...
8489  02/08/2018,"SMJUHSD","2014-2015","99479159234"...
8490  02/08/2018,"SMJUHSD","2014-2015","99635703974"...
8491  02/08/2018,"SMJUHSD","2014-2015","99635703974"...

[8492 rows x 1 columns]